<div class="card" style="width: 18rem;">
  <img src="https://cdn.pixabay.com/photo/2016/06/03/15/35/customer-service-1433639_960_720.png" class="card-img-top"
    alt="..." width="200px" height="200px">
  <div class="card-body">
    <h5 class="card-title">Customer Application</h5>
    <div class="btn-group">
    <a routerLink="/viewcustomer" class="btn btn-primary">Customer Details</a>
    
    </div>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://cdn.pixabay.com/photo/2019/04/26/16/30/id-4157974_960_720.jpg" class="card-img-top" alt="..."
    width="200px" height="200px">
  <div class="card-body">
    <h5 class="card-title">Verification Forms</h5>
  <div class="btn-group">
    <a routerLink="/addverification" class="btn btn-success">Add Verification</a>
    <a routerLink="/get-all-verification" class="btn btn-primary">Verification Details</a>

  </div> 
</div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://cdn.pixabay.com/photo/2016/12/08/10/36/angel-1891440_960_720.jpg" class="card-img-top" alt="..."
    width="200px" height="200px">
  <div class="card-body">
    <h5 class="card-title">Status Forms</h5>
    <div class="btn-group">
      <a routerLink="/addstatus" class="btn btn-success">Add Status</a>
      <a routerLink="/get-all-status" class="btn btn-primary">Status Details</a>

    </div>
  </div>
</div>