<footer class="container py-5">
        <div class="row">
          <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
            <small class="d-block mb-3 text-muted">© 2020-2023</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <div class="card" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/spring-276014_960_720.jpg" class="card-img-top" alt="..." height="150px" width="150px">
                <div class="card-body">
                  <p class="card-text">Forest management is a branch of forestry concerned with overall administrative, legal, economic, and social aspects, as well as scientific and technical aspects, such as silviculture, protection, and forest regulation. This includes management for aesthetics, fish, recreation, urban values, water, wilderness, wildlife, wood products</p>
                </div>
              </div>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <div class="card" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2018/01/06/01/01/oak-3064187_960_720.jpg" class="card-img-top" alt="..." height="150px" width="150px">
                <div class="card-body">
                  <p class="card-text">Forest resources management is an integration of forest ecology and biology, forest measurements, forest policy and administration, and courses to predict and evaluate the effects of manipulation Timber, water, soils, recreation, wildlife, and a broad array of environmental values and services, such as biodiversity and healthy forest systems.</p>
                </div>
              </div>
            </ul>
          </div>
         
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <div class="card" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/spring-276014_960_720.jpg" class="card-img-top" alt="..." height="150px" width="150px">
                <div class="card-body">
                  <p class="card-text"> Forestry Management System the forest business will be maintained through the system. The order will be placed on the system and the manager of the forest will then send the timber to the plant. If the timber will be not good enough to be used, As all the operations is conducted from the  the information on business from the software.</p>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </footer>
