<div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcScUYGZujVCmdQXWDD6UyeXasx28wwzI8xDtwIt00wOb-mP7U_Y" class="card-img-top" alt="..." width="200px" height="200px">
    <div class="card-body">     
      <a routerLink="/viewfinance" class="btn btn-primary">View All Loan Details</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn.pixabay.com/photo/2012/04/24/17/56/credit-40671_960_720.png" class="card-img-top" alt="..."width="200px" height="200px">
    <div class="card-body">     
      <a routerLink="/get-all-status" class="btn btn-primary">View Loan Status</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://image.shutterstock.com/image-photo/verification-banknotes-by-ultraviolet-lamp-600w-1515067919.jpg" class="card-img-top" alt="..."width="200px" height="200px">
    <div class="card-body">     
      <a routerLink="/get-all-verification" class="btn btn-primary">View All Verification</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://image.shutterstock.com/image-photo/loan-application-financial-help-form-600w-489332137.jpg" class="card-img-top" alt="..."width="200px" height="200px">
    <div class="card-body">     
      <a routerLink="/viewcustomer" class="btn btn-primary">View Customer Forms</a>
    </div>
  </div>
  