form{
    margin-left: 20px;
    margin-right: 20px;
}
.card {
    margin-left: 400px;
    background-color: lavender;
}
label{
    margin-left: 150px;
}
input{
    margin-left: 150px;
}
select{
    margin-left: 150px;

}
.jumbotron {
    background-image: url("https://cdn.pixabay.com/photo/2013/07/18/10/56/packs-163497_960_720.jpg");
    background-size: cover;
}
