form{
    margin-left: 20px;
    margin-right: 20px;
}
.card {
    margin-left: 400px;
background-color: antiquewhite;}
label{
    margin-left: 150px;
}
input{
    margin-left: 150px;
}
select{
    margin-left: 150px;

}
.jumbotron {
    background-image: url("https://cdn.pixabay.com/photo/2018/06/18/00/18/money-3481699_960_720.jpg");
background-size: cover;
height: 100%;
}
