body{
    padding: 0;
    margin: 0;
    background:  grey;
}
#menus
{
    background:  #ffff;
    padding: 10px;
    height: 40px;
}
.leftmenu{
    float: left;
    width: 50%;
}

.rightmenu{
    float: left;
    width: 50%;
}